/* estilo.css */

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../img/libro.png");
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100px; /* Tamaño máximo del logo en el header */
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Contenido principal */
section {
    padding: 20px;
    background-color: white;
    margin: 10px;
}

section h2 {
    font-size: 1.5em;
}

/* Imágenes */
section img {
    display: block;
    margin: 10px auto;
    max-width: 80%; /* Máximo ancho relativo al contenedor */
    height: auto; /* Mantener proporción de aspecto */
    border-radius: 5px; /* Bordes redondeados opcionales */
}

/* Lista de recetas */
ul li img {
    max-width: 100px; /* Tamaño máximo para miniaturas en la lista de recetas */
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle; /* Alinear verticalmente con el texto */
}
